absl-py==0.2.2
astor==0.6.2
backports.weakref==1.0.post1
bleach==1.5.0
Django==1.11.13
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.12.1
html5lib==0.9999999
image==1.5.24
Markdown==2.6.11
mock==2.0.0
numpy==1.14.5
pbr==4.0.4
Pillow==5.1.0
protobuf==3.6.0
pytz==2018.4
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
Werkzeug==0.14.1
